@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans antialiased text-gray-900 bg-gray-50;
  overflow-x: hidden;
}

html {
  @apply lg:snap-y lg:snap-mandatory lg:scroll-smooth;
}

@layer utilities {
  .min-h-fill-available {
    min-height: 100vh;
    min-height: 100svh;
    min-height: -webkit-fill-available;
  }
}